@model NetCuratio.Models.CaseStudyViewModel
@{
    ViewBag.Title = "About us";
}
<!-- Page Top section -->
<section class="page-top-section set-bg" data-setbg="@ViewBag.Root/Content/img/page-top-bg.jpg">
    <div class="container text-white">
        <div class="row">
            <div class="col-lg-8 pr-0">
                <h2 class="mb-3">We specialise in helping small businesses and entrepreneurs effectively reach their customers with a truly engaging online experience.  </h2>
                <div class="site-breadcrumb">
                    <a href="@Url.Action("Index", "Home")">Home</a> / <span>@ViewBag.Title</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Top section end -->
<!-- About section -->
<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 feature-item u-text-left u-small-text-center">
                <h3 class="mb-4">Why choose our company?</h3>
                <p>We specialise in supporting the whole website lifecycle, from design and development to maintenance and marketing. The core to our approach is to build a deep understanding of your business and customers. This allows us to provide you with the tools required to offer an engaging online experience to your customers.  </p>
                <p>Modern users have high demands from their online experience. With the average attention span at around 8 seconds (and dropping) the days of a businesses' website simply being a virtual flyer are long gone. A website today has to grab the attention of visitors. At Net Curatio, we specialise in the science of user engagement. Click below to see how our services can help you make the most from every visitor to your site. </p>
                <a href="#our-work" class="site-btn mr-2 mt-3 mb-2">View our work</a>
                <a href="@Url.Action("Services", "Home")" class="site-btn btn-ghost btn-ghost--dark">Get started</a>
            </div>
            <div class="col-lg-6 col-md-12 feature-item">
                <div class="mt-5">
                    <img src="@ViewBag.Root/Content/img/smartmockups_krwellness.png" loading="lazy" alt="Website image preview" style="align-self: center;" typeof="image/png"/>
                </div>
            </div>
        </div>
    </div>
</section><!-- About section end -->
<!-- Service box section -->
<section class="service-box-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 p-0 service-box">
                <div class="service-box-text text-white">
                    <h4>Our Mission</h4>
                    <p>At Net Curatio, we want to make high-end, bespoke web development accessible to small businesses and entrepreneurs. All too often, development companies charge high upfront fees, which is tough for small businesses operating on a tight budget. Furthermore, once the website has been developed, small businesses are often left to their own devices and the development company moves on to the next project. </p>
                    <p>That is why we have made it our mission to provide a service whereby small businesses would not be required to pay thousands of pounds in up-front costs and where a close supporting relationship is formed between us and our partners.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 p-0 service-box">
                <div class="service-box-text text-white">
                    <h4>Our Vission</h4>

                    <p>We envision a world where entrepreneurs, no matter how small, can compete on the web. We see a world where the quality of your product and service determines your success and not your ability to use your size to drive competition out of the marketplace. We see a world where anyone and everyone has the opportunity to make something of themselves on the web.</p>
                </div>
            </div>
        </div>
        </div>
</section>
<!-- Service box section end -->


<section class="team-section spad" id="our-work">
    <div class="container h-100">
        <div class="section-title">
            <img src="@ViewBag.Root/Content/img/section-title-icon.png" loading="lazy" alt="Rocket icon" typeof="image/png">
            <p class="catch-phrase">@ViewBag.CatchPhrase</p>
            <h2>Our work</h2>
        </div>
        <div class="row" style="margin-bottom: 80px;">
            @for (int i = 0; i < 3; i++)
            {
                <div class="col-lg-4 col-md-6 min-h-100 mb-5">
                    <div class="card shadow min-h-100">
                        <img src="@ViewBag.Root/Content/img/case-studies/@Model.AllCaseStudies[i].Id/thumbnail.jpg" class="card-img-top" loading="lazy" alt="@Model.AllCaseStudies[i].Name Thumbnail Image">
                        <div class="card-body">
                            <h5 class="card-title">@Model.AllCaseStudies[i].Name</h5>
                            <p class="card-text">@Model.AllCaseStudies[i].Intro</p>
                        </div>
                        <div class="card-footer">
                            <a href="@Url.Action("CaseStudy", "Home", new { studyId= @Model.AllCaseStudies[i].Id })" class="btn-inline">View case study<span>&rarr;</span></a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center">
            <a href="@Url.Action("Services", "Home")" class="site-btn">Start your journey &rarr;</a>
        </div>

    </div>
</section>