@model NetCuratio.Models.CaseStudyViewModel
@{
    ViewBag.Title = Model.ProjectDetails.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Top section -->
<section class="page-top-section set-bg" data-setbg="@Url.Content("~/Content/img/page-top-bg.jpg")">
    <div class="container text-white">
        <div class="row">
            <div class="col-lg-8 pr-0">
                <h2 class="mb-md-3 mb-lg-3">@ViewBag.Title</h2>
                <div class="site-breadcrumb">
                    <a href="@Url.Action("Index", "Home")">Home</a> / <a href="#">Case Studies</a> / <span>@ViewBag.Title</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Top section end -->
<!-- Info section -->
<section class="info-section spad">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-8 col-md-12 u-text-left pr-large">
                <div class="mb-5">
                    <h3 class="mb-3">The Objective</h3>

                    <p class="info">@Model.ProjectDetails.Objective</p>
                </div>
                <div class="mt-5 mb-3">
                    <h3 class="mb-4">Problems we solved</h3>
                    <div class="row">
                        @foreach (var problem in Model.ProjectDetails.Problems)
                        {
                            <div class="col-lg-6 col-md-12 u-text-left">
                                <h4 class="mb-2">@problem.Item1</h4>
                                <p class="info-small">@problem.Item2</p>
                            </div>
                        }
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">What we did</h5>
                        <p class="card-text">@Model.ProjectDetails.WhatWeDid</p>
                        <ul class="list-group">
                            @foreach (var feature in Model.ProjectDetails.Features) { 
                                <li class="list-group-item">@feature</li>
                            }
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="@Model.ProjectDetails.Url" target="_blank" class="btn-inline">View live site&nbsp;<span><i class="fas fa-external-link-alt"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- About section end -->
<!-- Service box section -->
<section class="service-box-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 p-0 service-box">
                <div class="container">
                    <div class="service-box-text text-white" style="padding: 145px 0px 155px;">
                        <h4>Home Page</h4>
                        <div class="col-lg-8 col-md-12 u-text-left p-0">
                            <p class="info">@Model.ProjectDetails.HomeText</p>
                        </div>
                        <div class="casestudy-image-container mb-5 row">
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="casestudy-image shadow" style="max-height: 720px; overflow-y: scroll; overflow-x: hidden;">
                                    <img src="@Url.Content("~/Content/img/case-studies/"+@Model.ProjectDetails.Id+"/"+@Model.ProjectDetails.Id+"_homepage.jpg")" loading="lazy" alt="Website Preview" />
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 d-none d-sm-none d-md-none d-lg-block d-xl-block">
                                <div class="casestudy-image casestudy-image-mobile shadow" style="max-height: 600px; overflow-y: scroll; overflow-x: hidden;">
                                    <img id="image" src="@Url.Content("~/Content/img/case-studies/"+@Model.ProjectDetails.Id+"/"+@Model.ProjectDetails.Id+"_homepage_mobile.jpg")" loading="lazy" style="max-width: 100%;" alt="Mobile Website Preview" typeof="image/png"/>
                                </div>
                            </div>
                        </div>
                        <a href="@Model.ProjectDetails.Url" target="_blank" class="btn-inline mr-4">View live site &nbsp;<span><i class="fas fa-external-link-alt"></i></span></a>
                        <a href="@Url.Action("Services", "Home")" class="btn-inline">Start your project <span>&rarr;</span></a>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-12 col-md-12 p-0 service-box" style="background: #0d042e;">
                    <div class="container">
                        <div class="service-box-text text-white" style="padding: 145px 0px 155px;">
                            <h4>Responsive Design</h4>
                            <div class="col-lg-8 col-md-12 u-text-left p-0">
                                <p class="info">Pickled palo santo 8-bit authentic raw denim, flexitarian deep v before they sold out banh mi tbh migas. Locavore sartorial cardigan, messenger bag gochujang wayfarers listicle palo santo. </p>
                            </div>
                            <div class="casestudy-image-container mb-5 row">
                                <div class="col-lg-12 col-md-8 col-sm-12">
                                    <div class="casestudy-image text-center">
                                        <img src="@Url.Content("~/Content/img/smartmockups_krwellness_responsive.png")" alt="Alternate Text" />
                                    </div>
                                </div>
                            </div>
                            <a href="https://www.krwellness.com" target="_blank" class="btn-inline mr-4">View live site &nbsp;<span><i class="fas fa-external-link-alt"></i></span></a>
                            <a href="@Url.Action("Services", "Home")" class="btn-inline">Start your project <span>&rarr;</span></a>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</section>
<!-- Service box section end -->


<section class="team-section spad" id="our-work">
    <div class="container h-100">
        <div class="section-title">
            <img src="@Url.Content("~/Content/img/section-title-icon.png")" loading="lazy" alt="Rocket icon" typeof="image/png">
            <p class="catch-phrase">@ViewBag.CatchPhrase</p>
            <h2>Our work</h2>
        </div>
        <div class="row" style="margin-bottom: 80px;">
            @for (int i = 0; i < 3; i++)
            {
                <div class="col-lg-4 col-md-6 min-h-100 mb-5">
                    <div class="card shadow min-h-100">
                        <img src="@Url.Content("~/Content/img/case-studies/"+@Model.AllCaseStudies[i].Id+"/thumbnail.jpg")" loading="lazy" class="card-img-top" alt="@Model.AllCaseStudies[i].Name Thumbnail Image" typeof="image/png">
                        <div class="card-body">
                            <h5 class="card-title">@Model.AllCaseStudies[i].Name</h5>
                            <p class="card-text">@Model.AllCaseStudies[i].Intro</p>
                        </div>
                        <div class="card-footer">
                            <a href="@Url.Action("CaseStudy", "Home", new { studyId= @Model.AllCaseStudies[i].Id })" class="btn-inline">View case study<span>&rarr;</span></a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center">
            <a href="@Url.Action("Services", "Home")" class="site-btn">Start your journey &rarr;</a>
        </div>

    </div>
</section>

