@model NetCuratio.Models.EmailSignUpModel
@{
    ViewBag.Title = "Home Page";

}


<!-- Hero section -->
<section class="hero-section set-bg" data-setbg="@ViewBag.Root/Content/img/bg.jpg">
    <div class="container h-100">
        <div class="hero-content text-white">
            <div class="row">
                <div class="col-lg-6 pr-0">
                    <h2>Your friendly neighbourhood web developers</h2>
                    <p><span class="text-accent">@ViewBag.CatchPhrase</span> Get your business online today for as little as <span class="text-accent">£19.99/month</span>. That's half the price of your average monthly phone bill. Not bad, hey!</p>
                    <a href="@Url.Action("About", "Home")" class="site-btn cta-btn mr-2">Learn More</a>
                    <a href="#services-section" class="site-btn btn-ghost d-none d-md-inline d-lg-inline">Start your journey</a>
                </div>
            </div>
            <div class="hero-rocket">
                <img src="@ViewBag.Root/Content/img/rocket.png" loading="lazy" alt="Animated Rocket Logo" typeof="image/png">
            </div>
        </div>
    </div>
</section>
<!-- Hero section end -->
<!-- Features section -->
<section class="features-section spad" style="background-color: #f7f7f7;">
    <div class="container">
        <div class="section-title">
            <img src="@ViewBag.Root/Content/img/section-title-icon.png" loading="lazy" alt="Rocket icon" typeof="image/png">
            <p class="catch-phrase">@ViewBag.CatchPhrase</p>
            <h2>We'll help you create an online presence to be remembered</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 feature-item u-text-left u-small-text-center">
                <p>We understand how daunting it can be trying to establish yourself online. With so much competition, it can be frustrating trying to carve out your niche on the web.</p>
                <p>At Net Curatio, we specialise in helping small businesses excel in the digital world. We thrive on helping our customers establish a truly impactful online presence. We live to create memorable and engaging experiences on the web. </p>          
                    <ol>
                        <li>We will help you create a clear and concise direction for your site.</li>
                        <li>Your website will deliver your brand message in a positive and focused way.</li>
                        <li>Your website will deliver value to visitors immediately.</li>
                        <li>Your website will be visually appealing and engage your users.</li>
                        <li>We will help you capitalize on your online presence and grow your business. </li>
                    </ol>

                @*<p>1. Your website will have a clear direction and purpose.</p>
                    <p>2. Your website will deliver your brand message in a positive and focused way.</p>
                    <p>3. Your website will deliver value to the visitors immediately.</p>
                    <p>4. Your website will be visually appealing and engage users straight away.</p>*@
            </div>
            <div class="col-lg-6 col-md-12 feature-item">
                <div class="embed-responsive embed-responsive-4by3">
                    <video class="lazyload" preload="auto" muted="" loop="" playsinline="" autoplay="" src="https://cdn.dribbble.com/users/1124806/screenshots/10980356/media/b6734c68a4dce2fd8d1666a16561bc02.mp4" width="500">
                    </video>
                    @*<img src="@Url.Content("~/Content/img/startup_light_PNG.png")" style="max-height:350px; width:auto" alt="Website Launch Image" />*@
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="container">
                <div class="u-text-left u-small-text-center">
                    <a href="@Url.Action("About", "Home")" class="btn-inline">Learn More <span>&rarr;</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features section end -->
<!-- Banner section -->
<section class="banner-section set-bg mt-4" data-setbg="@ViewBag.Root/Content/img/banner-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 banner-text text-white u-margin-bottom">
                <h3>Bespoke website, hosting, and maintenance for as little as £19.99/month</h3>
            </div>
            <div class="col-lg-3 text-left text-lg-right">
                <a href="#services-section" class="site-btn">Get Started</a>
            </div>
        </div>
    </div>
</section>
<!-- Banner section end -->
<!-- Features section -->
<section class="features-section spad">
    <div class="container">
        <div class="section-title">
            <img src="@ViewBag.Root/Content/img/section-title-icon.png" loading="lazy" alt="Rocket icon" typeof="image/png">
            <p class="catch-phrase">
                @ViewBag.CatchPhrase</p>
            <h2>We'll make it as easy as possible for you</h2>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 feature-item">
            <div class="ft-icon">
                <i class="fas fa-pound-sign"></i>
            </div>
            <h3>No upfront cost</h3>
            <p>Save thousands on upfront development costs and ongoing maintenance. Get your business online with no risk.  </p>
        </div>
        <div class="col-lg-4 col-md-6 mb-3 feature-item">
            <div class="ft-icon">
                <i class="far fa-money-bill-alt"></i>
            </div>
            <h3>Cost-effective</h3>
            <p>Our subscription model is the most cost-effective way to get your business online. Everything you need in one very reasonable monthly fee. </p>
        </div>
        <div class="col-lg-4 col-md-6 feature-item">
            <div class="ft-icon">
                <i class="fas fa-server"></i>
            </div>
            <h3>Free hosting</h3>
            <p>Our packages come with everything you need to keep your business online. This includes hosting, maintenance, and security. </p>
        </div>
        <div class="col-lg-4 col-md-6 feature-item">
            <div class="ft-icon">
                <i class="far fa-clock"></i>
            </div>
            <h3>24/7 Support</h3>
            <p>We make sure that your website is always in working order by providing 24/7 support. Never miss out on a potential customer again.</p>
        </div>
        <div class="col-lg-4 col-md-6 feature-item">
            <div class="ft-icon">
                <i class="fas fa-chart-line"></i>
            </div>
            <h3>Boost your revenue</h3>
            <p>Our data-driven design approach has a proven record in boosting revenue. We specialise in converting visitors to customers. </p>
        </div>
        <div class="col-lg-4 col-md-6 feature-item">
            <div class="ft-icon">
                <i class="fas fa-search"></i>
            </div>
            <h3>SEO optimised</h3>
            <p>We develop sites that are Search Engine Optimised. This means that your site will look good in the eyes of Google and rank higher as a result.</p>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="container">
            <div class="text-center">
                <a href="@Url.Action("About", "Home")" class="btn-inline">Learn More <span>&rarr;</span></a>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Features section end -->
<!-- Sign up section -->
<section class="domain-search-section spad set-bg" data-setbg="@ViewBag.Root/Content/img/domain-bg.jpg" id="email-sign-up">
    <div class="container">
        <div class="section-title st-white">
            <img src="@ViewBag.Root/Content/img/section-title-icon.png" loading="lazy"  alt="Space Background" typeof="image/png">
            <p>@ViewBag.CatchPhrase</p>
            <h2>Ready for a website that is out of this world?</h2>
        </div>
        <div class="domain-form-warp">
            @using (Html.BeginForm("EmailSignUp", "Home", FormMethod.Post, new { @class = "domain-search-form", enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-lg-8">
                        <label style="color: white; display: block;" for="Email">@Html.DisplayNameFor(x => x.Email).ToHtmlString()</label>
                        @Html.AntiForgeryToken()
                        @Html.TextBoxFor(x => x.Email, new { placeholder = "example@mail.com", @class = "mb-1" })
                    </div>
                    <div class="col-lg-4">
                        <label class="hidden-label" for="submit">Join</label>
                        <button class="site-btn" type="submit" id="submit">Join our mailing list&nbsp; <i class="fas fa-paper-plane"></i></button>
                    </div>
                </div>
                

                <div>
                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "pt-1" })
                </div>
                <p>@ViewBag.result</p>
                <p>@ViewBag.content </p>
                if (ViewBag.ShowSuccessMessage == true)
                {
                    <div class="alert-box alert-box-success mt-3" id="sign-up-success" role="alert">
                        Thank you for joining our mailing list.
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- Sign up section end -->
<!-- Pricing section -->
<section class="pricing-section spad pt-0 mt-5">
    <div class="container h-100">
        <div class="section-title">
            <img src="@ViewBag.Root/Content/img/section-title-icon.png" loading="lazy" alt="Rocket Icon" typeof="image/png">
            <p class="catch-phrase">@ViewBag.CatchPhrase</p>
            <h2 id="services-section">Chose the perfect plan for you</h2>
        </div>
        <div class="row">
            @foreach (var plan in ViewBag.Plans)
            {
                <div class="col-lg-4 col-md-8 offset-md-2 offset-lg-0 h-100">

                    <div class="pricing-plan flex-grow-1 @(plan.Name == "Star" ? "gold-plan" : "")">
                        <div class="pricing-title">
                            <h3>@plan.Name Plan</h3>
                        </div>
                        <div class="pricing-body">
                            <h2>@plan.Price</h2>
                            <span>per month</span>
                            <ul>
                                @foreach (var detail in plan.Features)
                                {
                                    <li>@detail</li>
                                }
                            </ul>
                            <a href="@Url.Action("RegisterInterest", "Home", new { packageCode = plan.Name })" class="site-btn">Get Plan</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Pricing section end -->

@if (ViewBag.Section != null)
{
<script>
    document.onload = (function () {
        var anchor = document.querySelector('#email-sign-up');
        anchor.scrollIntoView();
    })();
</script>
}
