@model NetCuratio.Models.RegisterInterestViewModel

<!-- Page Top section -->
<section class="page-top-section-small set-bg" data-setbg="@ViewBag.Root/Content/img/page-top-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 pr-0">
                <h2 class="mb-3">Register Interest</h2>
                <div class="site-breadcrumb">
                    <a href="@Url.Action("Index", "Home")">Home</a> / <a href="@Url.Action("Services", "Home")">Services</a> / <span>@Model.SelectedPackage Plan</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Top section end -->
<!-- Contact section -->
<section class="contact-section mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title">Thanks for choosing our @Model.SelectedPackage Plan </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="pricing-plan" id="form">
                    <div class="pricing-title pricing-title-selected">
                        <h3>Your contact details</h3>
                    </div>
                    <div class="pricing-body pricing-body-selected package-details-form">
                        @using (Html.BeginForm("RegisterInterest", "Home", FormMethod.Post, new { @class = "contact-form plan-form", enctype = "multipart/form-data", style = "padding-top: 0px;" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(x => x.SelectedPackage)
                            <div class="row">
                                <div class="col-lg-12 mb-4">
                                    <label for="Name">@Html.DisplayNameFor(x => x.Name).ToHtmlString()</label>
                                    @Html.TextBoxFor(x => x.Name, new { @class = "mb-1 bg-white" })
                                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "pt-1" })
                                </div>
                                <div class="col-lg-12 mb-4">
                                    <label for="Email">@Html.DisplayNameFor(x => x.Email).ToHtmlString()</label>
                                    @Html.TextBoxFor(x => x.Email, new { @class = "mb-1 bg-white" })
                                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "pt-1" })
                                </div>
                                <div class="col-lg-12 mb-4">
                                    <label for="PhoneNumber">@Html.DisplayNameFor(x => x.PhoneNumber).ToHtmlString() <span>(optional)</span></label>
                                    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "mb-1 bg-white" })
                                    @Html.ValidationMessageFor(m => m.PhoneNumber, null, new { @class = "pt-1" })
                                </div>
                                <div class="col-lg-12 mb-4">
                                    <label for="WebsiteType">@Html.DisplayNameFor(x => x.WebsiteType).ToHtmlString()</label>
                                    @Html.DropDownListFor(x => x.WebsiteType, Model.WebsiteTypeLookUp, "-- Please select a type of site --", new { @class = "mb-1 bg-white form-select" })
                                    @Html.ValidationMessageFor(m => m.WebsiteType, null, new { @class = "pt-1" })
                                </div>
                                <div class="col-md-12 mb-4">
                                    <p>A member of our team will contact you soon!</p>
                                    <button class="site-btn float-right bg-purple">Send &nbsp;<i class="fas fa-paper-plane"></i></button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">

                <div class="pricing-plan gold-plan">
                    <div class="pricing-title pricing-title-selected">
                        <h3>@Model.SelectedPackage Plan Selected</h3>
                    </div>
                    <div class="pricing-body pricing-body-selected">
                        <h2>@Model.PackageDetails.Price</h2>
                        <span>per month</span>
                        <ul class="mb-0">
                            @foreach (var detail in Model.PackageDetails.Features)
                            {
                                <li>@detail</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact section end -->


<script>
    document.onLoad = (function () {
        document.getElementById("WebsiteType").firstChild.setAttribute("selected", "selected");
        document.getElementById("WebsiteType").firstChild.setAttribute("disabled", "disabled");


        list = document.querySelectorAll("option");
        for (var i = 0; i < list.length; ++i) {
            list[i].classList.add('text-grey-light');
        };

    })();
</script>

@if (Model.WebsiteType != null)
{
    <script>
        document.getElementById("WebsiteType").value = "@Model.WebsiteType";
    </script>
}

@if (ViewBag.Section != null)
{
    <script>
        document.onload = (function () {
            var anchor = document.querySelector('#form');
            anchor.scrollIntoView();
        })();
    </script>
}
