
@{
    ViewBag.Title = "Services";
}

<!-- Page Top section -->
<section class="page-top-section set-bg" data-setbg="../Content/img/page-top-bg.jpg">
    <div class="container text-white">
        <div class="row">
            <div class="col-lg-8 pr-0">
                <h2>We offer subscriptions, starting at £19.99/month, which covers the development, maintenance, and hosting of your website. We like to keep it that simple for you.</h2>
            </div>
        </div>
    </div>
</section>
<!-- Page Top section end -->
<!-- Pricing section -->
<section class="pricing-section spad pt-0 mt-5">
    <div class="container h-100">
        <div class="section-title">
            <img src="../Content/img/section-title-icon.png" alt="#">
            <p>@ViewBag.CatchPhrase</p>
            <h2>Chose your perfect plan</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-8 offset-md-2 offset-lg-0 h-100">
                <div class="pricing-plan flex-grow-1">
                    <div class="pricing-title">
                        <h4>Basic Plan</h4>
                    </div>
                    <div class="pricing-body">
                        <h2>£19.99<span>/Month</span></h2>
                        <ul>
                            <li>No upfront costs</li>
                            <li>Bespoke website</li>
                            <li>Free hosting</li>
                            <li>100 anual suppot credits</li>
                            <li>24/7 security monitoring</li>
                            <li>10GB storage</li>
                            <li>20GB bandwith</li>
                        </ul>
                        <a href="@Url.Action("RegisterInterest", "Home", new { packageCode = "Basic" })" class="site-btn">Get Plan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 offset-md-2 offset-lg-0 h-100">
                <div class="pricing-plan gold-plan flex-grow-1">
                    <div class="pricing-title">
                        <h4>STAR Plan</h4>
                    </div>
                    <div class="pricing-body">
                        <h2>£39.99<span>/Month</span></h2>
                        <ul>
                            <li>No upfront costs</li>
                            <li>Bespoke website</li>
                            <li>Free hosting</li>
                            <li>1,000 anual support credits</li>
                            <li>24/7 security monitoring</li>
                            <li>20GB storage</li>
                            <li>Unlimited bandwith</li>
                        </ul>
                        <a href="@Url.Action("RegisterInterest", "Home", new { packageCode = "Star" })" class="site-btn">Get Plan</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 offset-md-2 offset-lg-0 h-100">
                <div class="pricing-plan flex-grow-1">
                    <div class="pricing-title">
                        <h4>VIP Plan</h4>
                    </div>
                    <div class="pricing-body">
                        <h2>£29.99<span>/Month</span></h2>
                        <ul>
                            <li>No upfront costs</li>
                            <li>Bespoke website</li>
                            <li>Free hosting</li>
                            <li>400 anual support credits</li>
                            <li>24/7 security monitoring</li>
                            <li>15GB storage</li>
                            <li>100GB bandwith</li>
                        </ul>
                        <a href="@Url.Action("RegisterInterest", "Home", new { packageCode = "Vip" })" class="site-btn">Get Plan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing section end -->
<!-- Domain search section -->
<section class="domain-search-section spad set-bg" data-setbg="../Content/img/domain-bg.jpg">
    <div class="container">
        <div class="section-title st-white">
            <img src="../Content/img/section-title-icon.png" alt="#">
            <p>@ViewBag.CatchPhrase</p>
            <h2>Ready for a website that is out of this world?</h2>
        </div>
        <div class="domain-form-warp">
            <form class="domain-search-form">
                <input type="text" placeholder="Join our mailing list for our best offer, tips, and tricks...">
                <button class="site-btn">Subscribe</button>
            </form>
        </div>
    </div>
</section>
<!-- Domain search section end -->
<!-- Faq section -->
<section class="faq-section spad">
    <div class="container">
        <div class="section-title">
            <img src="../Content/img/section-title-icon.png" alt="#">
            <p>@ViewBag.CatchPhrase</p>
            <h2>FAQ</h2>
        </div>
        <div id="accordion" class="accordion-area faq-accordion">
            <div class="panel">
                <div class="panel-header" id="headingOne">
                    <button class="panel-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Do I have to sign a contract?</button>
                </div>
                <div id="collapse1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 mb-5">
                                        <h4>No, we provide no minimum term subscription service.  </h4>
                                        <p>Our business is based on a subscription model with no contract necessary. This means, if you want to leave at any time, you are free to do so. We're so sure that you'll be happy with our service that we don't see any need to tie you down.  </p>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-header" id="headingTwo">
                    <button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">What is the process to get my website online? </button>
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 mb-5">
                                        <h4>We have perfected a simple and effective solution for this one.</h4>
                                        <p>Once you have selected a package and registered your interest with us, we will send you a Getting Started Pack. We will read this information and then arrange a quick chat with you so that we can get a better feel for your business and what you need. We will then conduct our own research. Once we feel like we have enough information to get started, we will create your website for you. Then, through working with you in a process of review and changes, we will end up with the perfect site for your business.  </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-header" id="headingThree">
                    <button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3"> Do I need to buy a domain?</button>
                </div>
                <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 mb-5">
                                        <h4>Yes, you will need to buy a domain for your site.</h4>
                                        <p>Don't worry if you aren't sure how to do this. We will guide you through the process. Your domain name may be your most valuable asset one day, so we’ll instruct you on how to keep it safely in your possession. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-header" id="headingFour">
                    <button class="panel-link active" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse3">Do I need any technical skills to keep my website up and running? </button>
                </div>
                <div id="collapse4" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 mb-5">
                                        <h4>We take care of all of the technical stuff for you.</h4>
                                        <p>Once you are happy with your website, we will deploy it to our servers and maintain it for you. We will make sure that your website stays up and running, that it’s secure, and that your data is safe.   </p> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Faq section end -->
