<!-- Page Top section -->
<section class="page-top-section-small set-bg" data-setbg="@Url.Content("~/Content/img/page-top-bg.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 pr-0">
                <h2 class="mb-3">Thanks</h2>
                <div class="site-breadcrumb">
                    <a href="@Url.Action("Index", "Home")">Home</a> / <a href="@Url.Action("Services", "Home")">Services</a> / <a href="@Url.Action("RegisterInterest", "Home")">Register Interest</a> / <span>Thanks</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Top section end -->
<!-- Contact section -->
<section class="spad" id="Thanks">
    <div class="container h-90 mt-5">
        <div class="text-center">
            @*<i class="fas fa-rocket fa-4x icon-gradient mb-4"></i>*@
            <div class="section-title">
                <img src="@ViewBag.Root/Content/img/rocket.png" alt="Rocket" style="max-height: 200px">
                <h2>Thanks for signing up!</h2>
            </div>
            <p class="lead mt-3 mb-5">Thank you for registering your interest. A member of our team will be in contact with you shortly. They will discuss your needs with you in more detail and send you a Getting Started pack. This pack contains everything we need to know to get your project off the launch pad.</p>
            <a href="@Url.Action("Index","Home")" class="site-btn site-btn-lg">Go Home</a>
        </div>
    </div>
</section>
<!-- Contact section end -->
<script>
    document.onload = (function () {
        var anchor = document.querySelector('#Thanks');
        anchor.scrollIntoView();
    })();
</script>
